.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border : 2px solid green;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  background-color: white;
  padding: 10px;
}


@media screen and (max-width:767px) {
    .App{
      width: 90%;
    }
}